<ion-view title="Quiz CNA">

  <ion-nav-buttons side="left">
    <button class="left button button-icon icon ion-arrow-left-c" ng-click="back()"></button>
  </ion-nav-buttons>

    <ion-content class="capa">

      <div class="capaInterna">
        <div class="logo">
          <img src="img/logo.png">
          <p class="titulo">11th WTO Ministerial Conference </p>
          <p class="data">December, 10-13th, 2017</p>
        </div>
        <div class="opcoes">
          <ion-radio class="opcaoCapa" ng-model="inputForm.idioma" value="en" name="idioma">English</ion-radio>
          <ion-radio class="opcaoCapa" ng-model="inputForm.idioma" value="es" name="idioma">Español</ion-radio>
          <ion-radio class="opcaoCapa" ng-model="inputForm.idioma" value="br" name="idioma">Português</ion-radio>
        </div>
      </div>

      <div class="rodape">
          <div class="proximacapa">
            <a ng-click="nextCapa(inputForm.idioma)">Start quiz</a>
          </div>
      </div>

    </ion-content>
</ion-view>
