<ion-view title="Quiz CNA">
    <ion-nav-buttons side="right">
        <button class="right button button-icon icon ion-plus" ui-sref="item"></button>
    </ion-nav-buttons>



    <ion-content class="capa">


      <div class="logo">
        <img src="img/logo.png">
      </div>

      <div class="botoes">
        <button ui-sref="item-en">English</button> <br />
        <button ui-sref="item-es">Español</button> <br />
        <button ui-sref="item-pt">Português</button>
      </div>

    </ion-content>
</ion-view>
