<ion-view title="Quiz CNA - English">

    <ion-nav-buttons side="left">
      <button class="left button button-icon icon ion-arrow-left-c" ng-click="nextHome()"></button>

    </ion-nav-buttons>

    <ion-content>

      <div class="cadastro">
        <div class="logo">
          <img src="img/cadastro.png">
        </div>

        <div class="texto">
          <p>Register:</p>
        </div>

        <div class="linha">
          <p>Name:</p>
          <input type="text" ng-model="inputForm.nome">

        </div>

        <div class="linha">
          <p>E-mail:</p>
          <input type="text" ng-model="inputForm.email">
        </div>

        <div class="linha">
          <p>Company:</p>
          <input type="text" ng-model="inputForm.empresa">
        </div>

        <div class="linha">
          <p>Country:</p>
          <input type="text" ng-model="inputForm.pais">
        </div>

      </div>

      <div class="rodape">
          <div class="proximacapa">
            <a ng-click="nextP1(inputForm.nome, inputForm.email, inputForm.empresa, inputForm.pais)">Send</a>
          </div>
      </div>

    </ion-content>
</ion-view>
