<ion-view title="Quiz CNA - English">

    <ion-nav-buttons side="left">
      <button class="left button button-icon icon ion-arrow-left-c" ng-click="nextHome()"></button>

    </ion-nav-buttons>

    <ion-content>

      <div class="cadastro">
        <div class="logoCadastro">
          <img src="img/cadastro.png">
        </div>

        <div class="disclaimer">
          The Brazilian Confederation of Agriculture and Livestock (CNA) thanks you for your participation and respects your privacy. Your answers will not be associated with your contact at any moment, and your personal information will be maintained confidentially.
        </div>

        <div class="texto">
          <p>Register:</p>
        </div>

        <div class="linha">
          <p>Full Name:</p>
          <input type="text" autocorrect="off" ng-model="inputForm.nome">

        </div>

        <div class="linha">
          <p>E-mail:</p>
          <input type="email" autocorrect="off" autocapitalize="off" ng-model="inputForm.email">
        </div>

        <div class="linha">
          <p>Company / Institution:</p>
          <input type="text" autocorrect="off" ng-model="inputForm.empresa">
        </div>

        <div class="linha">
          <p>Country:</p>
          <input type="text" autocorrect="off"  ng-model="inputForm.pais">
        </div>

      </div>

      <div class="rodape">
          <div class="proximacapa">
            <a ng-click="nextP1(inputForm.nome, inputForm.email, inputForm.empresa, inputForm.pais)">Send</a>
          </div>
      </div>

    </ion-content>
</ion-view>
