<ion-view title="Quiz CNA - Español">
  <ion-nav-buttons side="left">
      <button class="left button button-icon icon ion-list" ui-sref="list"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
      <button class="right button button-icon icon ion-plus" ui-sref="capa"></button>
  </ion-nav-buttons>
  <ion-content>
      <video autoplay max-width="100%" webkit-playsinline="true" playsinline="true" playsinline>
        <source src="img/video-es.mp4" type="video/mp4">
      </video>
  </ion-content>
</ion-view>
