<ion-view title="Quiz CNA - Português">

    <ion-nav-buttons side="left">
        <button class="left button button-icon icon ion-arrow-left-c" ng-click="back()"></button>
    </ion-nav-buttons>


    <ion-content>

        <div class="list">


<div class="list card">

            <div class="item item-image">
                <img src="img/pergunta1.jpg">
            </div>

            <div class="item">
                <h2>¿Cuál de los países agroexportadores abajo posee la mayor parte de su territorio destinada a la producción agrícola?</h2>
            </div>
            <div class="item">
                <ion-list>
                    <ion-radio ng-model="inputForm.pergunta1" ng-value="A" name="p1">Alemania</ion-radio>
                    <ion-radio ng-model="inputForm.pergunta1" ng-value="B" name="p1">Brasil</ion-radio>
                    <ion-radio ng-model="inputForm.pergunta1" ng-value="C" name="p1">Francia</ion-radio>
                    <ion-radio ng-model="inputForm.pergunta1" ng-value="D" name="p1">Estados Unidos</ion-radio>
                    <ion-radio ng-model="inputForm.pergunta1" ng-value="E" name="p1">Canadá</ion-radio>
                </ion-list>
            </div>
</div>


            <div class="item">
                <h2>¿Cuál de esos países utiliza la mayor cantidad de productos agroquímicos por hectárea de producción. (kg ingrediente activo/ha)?</h2>
                <ion-list>
                    <ion-radio ng-model="inputForm.pergunta2" ng-value="A" name="p2">Alemania</ion-radio>
                    <ion-radio ng-model="inputForm.pergunta2" ng-value="B" name="p2">Brasil</ion-radio>
                    <ion-radio ng-model="inputForm.pergunta2" ng-value="C" name="p2">Japon</ion-radio>
                    <ion-radio ng-model="inputForm.pergunta2" ng-value="D" name="p2">Francia</ion-radio>
                    <ion-radio ng-model="inputForm.pergunta2" ng-value="E" name="p2">Holanda</ion-radio>
                </ion-list>
            </div>

            <div class="item">
                <h2>¿En cuál de esos países el productor rural es obligado por ley a preservar entre el 20% e 80% del área de vegetación nativa en su propiedad rural?</h2>
                <ion-list>
                    <ion-radio ng-model="inputForm.pergunta3" ng-value="A" name="p3">Alemania</ion-radio>
                    <ion-radio ng-model="inputForm.pergunta3" ng-value="B" name="p3">Estados Unidos</ion-radio>
                    <ion-radio ng-model="inputForm.pergunta3" ng-value="C" name="p3">Reino Unido</ion-radio>
                    <ion-radio ng-model="inputForm.pergunta3" ng-value="D" name="p3">Brasil</ion-radio>
                    <ion-radio ng-model="inputForm.pergunta3" ng-value="E" name="p3">Australia</ion-radio>
                </ion-list>
            </div>

            <div class="item">
              <h2>Preencha tus infomaciones:</h2>

              <label class="item item-input">
                  <input type="text" ng-model="inputForm.firstname" placeholder="First Name">
              </label>

              <label class="item item-input">
                  <input type="text" ng-model="inputForm.lastname" placeholder="Last Name">
              </label>

              <label class="item item-input">
                  <input type="text" ng-model="inputForm.email" placeholder="Email">
              </label>

              <button class="button button-block button-positive" ng-click="save(inputForm.firstname, inputForm.lastname, inputForm.email, inputForm.pergunta1, inputForm.pergunta2, inputForm.pergunta3, 'Português')">
                  Save
              </button>

            </div>

        </div>

    </ion-content>
</ion-view>
