<ion-view title="Quiz CNA - Português">

    <ion-nav-buttons side="left">
      <button class="left button button-icon icon ion-arrow-left-c" ng-click="nextHome()"></button>
    </ion-nav-buttons>

    <ion-content>

        <div class="resposta">

          <div class="logo">
            <img src="img/cadastro.png">
          </div>

          <div class="certoerrado" ng-if="p1=='C'">
            <img src="img/certo.png">
            <p>Certo!</p>
          </div>

          <div class="certoerrado" ng-if="p1!='C'">
            <img src="img/errado.png">
            <p>Ops, errado!</p>
          </div>


          <hr>

          <div class="repostacerta">
            <div class="bandeira">
              <img src="img/flag_big_fra.png">
            </div>

            <div class="texto">
              <p class="pais">França</p>
              <p class="percentual">58,02%</p>
            </div>
          </div>

          <div class="respostaserradas">
            <div class="respostaerrada">
              <img src="img/flag_ger.png"> 56,93%
            </div>
            <div class="respostaerrada">
              <img src="img/flag_bra.png"> 7,57%
            </div>
            <div class="respostaerrada">
              <img src="img/flag_usa.png"> 18,34%
            </div>
            <div class="respostaerrada">
              <img src="img/flag_can.png"> 4,7%
            </div>
          </div>

          <hr>

          <div class="fonte">
            <p>Fonte: NASA/USGS – Global Croplands, 2017.</p>
          </div>

        </div>


        <div class="rodape">
            <div class="bolas">
              <img src="img/bullet1.png" />
            </div>
            <div class="proxima">
              <a ng-click="nextP3()">Próxima</a>
            </div>
        </div>

    </ion-content>
</ion-view>
